<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_OduwN6a5_gYRMvAclV3MlVPA455XpgE</string>
	<key>GCM_SENDER_ID</key>
	<string>319533579185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>murat.com.FoodOrderProject</string>
	<key>PROJECT_ID</key>
	<string>foodorderproject-9beb6</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorderproject-9beb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319533579185:ios:333a84ebc1cd2615f1db90</string>
</dict>
</plist>